numpy
openai-whisper
sounddevice
rich
langchain
langchain-community
pyttsx3
fastapi
uvicorn
python-multipart
pydub
numpy
soundfile
coqui-tts
g2p_en
python-dotenv
langchain
langchain-groq
faster-whisper
coqpit-config
torch
torchaudio
torchvision
